{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "babel-preset-stage-3",
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}